[submodule "antrea/src"]
	path = antrea/src
	url = git@gitlab.eng.vmware.com:core-build/mirrors_github_antrea
	branch = topic/1.5.2-common
[submodule "ovs/src"]
	path = ovs/src
	url = git@gitlab.eng.vmware.com:core-build/mirrors_github_openvswitch_ovs.git
	branch = vmware-2.15.1
[submodule "antrea-operator"]
	path = antrea-operator
	url = git@gitlab.eng.vmware.com:core-build/mirrors_github_antrea-operator-for-kubernetes.git
