[submodule "antrea/src"]
	path = antrea/src
	url = git@gitlab.eng.vmware.com:core-build/mirrors_github_antrea
	branch = topic/1.11.1+vmware.5-common
[submodule "ovs/src"]
	path = ovs/src
	url = git@gitlab.eng.vmware.com:core-build/mirrors_github_openvswitch_ovs.git
	branch = vmware-2.17.6
