# PACKAGE_VERSION_SUFFIX follows tkg.<y> pattern where <y> is incremented for any changes to package manifests
PACKAGE_VERSION_SUFFIX=tkg.1
# VMWARE_VERSION_SUFFIX follows vmware.<x> pattern where <x> is incremented for any changes to image layers
VMWARE_RELEASE_VERSION=2
VMWARE_VERSION_SUFFIX="vmware.${VMWARE_RELEASE_VERSION}"

BUILD_VERSION_SUFFIX="${VMWARE_VERSION_SUFFIX}-${PACKAGE_VERSION_SUFFIX}"

ANTREA_SEMVER="2.2.0"

IMAGE_VERSION="v${ANTREA_SEMVER}_${VMWARE_VERSION_SUFFIX}"
ANTREA_VERSION_DIGIT="${ANTREA_SEMVER}+${VMWARE_VERSION_SUFFIX}"
BINARY_VERSION="v${ANTREA_SEMVER}+${VMWARE_VERSION_SUFFIX}"


